{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container">
    <h1>Register</h1>
    {% if message %}
        <p style="color: green;">{{ message }}</p>
    {% endif %}
    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <input type="email" name="email" placeholder="Email" required><br>
        <input type="password" name="password" placeholder="Password" required><br>
        <select name="role">
            <option value="student">Student</option>
            <option value="instructor">Instructor</option>
            <option value="approver">Approver</option>
        </select><br>
        <button type="submit">Register</button>
    </form>
    Already have an account?<a href="{% url 'login' %}">Login</a>
</div>

    

{% endblock%}